* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body {
    font-size: 100%;
    background-color: #0e010a;
    color: rgb(83, 20, 231);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0 28px 0;
    background-color: #0de94f; 
    margin: 0 0 0 0;
    border-bottom: 1px solid #ce1010;
}

.header-logotipos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 400px;
}

.header-logotipo-title {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 38px;
    color: #180101;
    margin-right: auto;
}

.header-search {
    border: none;
    flex: 1;
    height: 44px;
    margin: 0 0 0 40px;
    box-shadow: 1px 2px 8px #051ce2;
    border-radius: 45px 0 0 45px;
    background-color: #060113; 
    color: #eff7f3; 
    width: 100%;
}

.header-botao-de-pesquisar-img {
    height: 30px;
    width: 30px;
}

.header-botão-de-pesquisar {
    order: 3;
    background-color: #fa620a;
    color: #f2edf3;
    border: none;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    margin: 0 0px 0 0;
    box-shadow: 2px 2px 8px #1f1e1d;
}

.login {
    order: 4;
    border: none;
    cursor: pointer;
    margin: 0 400px 0 45px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 8px #1f1410a6;
    border-radius: 80px 80px 80px 80px;
    background-color: #FFFDD0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: center;
    color:  #FFFFFF;
    background-color: #2D1E18;
    border-bottom: 1px solid #333333;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 0 5px 0;
}

.header-nav a:hover {
    color: #e9b2a9;
    text-decoration: none;
    border-bottom: 2px solid #333333;
}
.header-nav-item1 {
    margin: 0 5px 0 290px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item2 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item3 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item4 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item5 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item6 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item7 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item8 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item9 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item10 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item11 {
    margin: 0 5px 0 24px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    border-right: 1px solid #333333;
}

.header-nav-item12 {
    margin: 0 290px 0 0px;
    color:  #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
}

.receitas-populares {
    margin: 0 0 0 50px;
    flex: column;
    justify-content: center;
    align-items: center;
    color:  #333333;
    margin: 0 468px 0 468px;
}

.receitas-populares-texto-na-imagem-titulo-principal {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    flex: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin: 50px 0 20px 0;
    z-index: 1;
}

.receitas-populares-img {

    filter: brightness(50%); 
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    width: 940px;
    height: 271px;
    border-radius: 10px 10px 10px 10px;
    display: block;
}

.receitas-populares-ancora {
    font-weight:bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex: column;
    justify-content: left;
    align-items: center;
    color:  #3C9141;
    margin: 10px 0 0px 0px;
}

.receitas-populares-content {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}

.receitas-populares-texto-na-imagem {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    z-index: 1;
    font-size: 24px;
  }

.receitas-populares-text-paragraph {
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex: column;
    justify-content: left;
    align-items: center;
    color: #120C0A;
    margin: 0 30px 90px 30px;
}
.outras-receitas {
    margin: 0 0 0 50px;
    flex: column;
    justify-content: center;
    align-items: center;
    color: #333333;
    margin: 0 468px 0 468px;
}

.outras-receitas-content-part-1 {
    display: flex;
    align-items: center;
    border: 1px 1px 1px 1px solid #333333;
}

.outras-receitas-content-part-2 {
    display: flex;
    align-items: center;
    border: 1px 1px 1px 1px solid #333333;
}

.outras-receitas-content-part-3 {
    display: flex;
    align-items: center;
    border: 1px 1px 1px 1px solid #333333;
}

.outras-receitas-title {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    flex: column;
    justify-content: center;
    align-items: center;
    color: #FF2400;
    margin: 50px 0 20px 0;
    border: 1px 1px 1px 1px solid #333333;
}

.outras-receitas-img {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 350px;
    width: 300px;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-img2 {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 350px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-img3 {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 350px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-img4 {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 350spx;
    width: 300px;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-img5 {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 360px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-img6 {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 350px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-img7 {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 350px;
    width: 300px;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-img8 {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 350px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-img9 {
    flex: column;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    height: 350px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-text-paragraph {
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex: column;
    justify-content: left;
    align-items: center;
    margin: 15px 0 95px 25px;
    border: 1px 1px 1px 1px solid #333333;
    color: #120C0A;
}

.outras-receitas-ancora {
    font-weight:bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex: column;
    justify-content: left;
    align-items: center;
    color:  #3C9141;
    margin: 10px 0 0px 0px;
    border: 1px 1px 1px 1px solid #333333;
}

.outras-receitas-text-title {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    flex: column;
    justify-content: center;
    align-items: center;
    color: #120C0A;
    margin: 45px 0 20px 30px;
    border: 1px 1px 1px 1px solid #333333;
    font-size: 24px;
}

.outras-receitas-receitas-em-video {
    flex: column;
    justify-content: center;
    align-items: center;
    color: #333333;
    margin: 0 468px 0 468px;
}

.outras-receitas-receitas-em-video-subtitulo {
    margin: 35px 0 5px 0;
    font-size: 24px;
    color: #FF2400;
    font-family:Arial, Helvetica, sans-serif;
}

.outras-receitas-receitas-em-video-paragraph {
    margin-top: 10px;
    font-size: 18px;
    color: #120C0A;
    font-family:Arial, Helvetica, sans-serif;
}

.outras-receitas-receitas-em-video-video1 {
    flex: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-receitas-em-video-video2 {
    flex: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-receitas-em-video-video3 {
    flex: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-receitas-em-video-video4 {
    flex: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-receitas-em-video-video5 {
    flex: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-receitas-em-video-video6 {
    flex: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-receitas-em-video-video7 {
    flex: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-receitas-em-video-video8 {
    flex: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.outras-receitas-receitas-em-video-video9 {
    flex: row;
    justify-content: center;
    align-items: center;
    align-self:center;
    flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
}

.pré-footer-text-paragraph {
    color: #333333;
    margin: 10px 0 25px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-final {
    padding: 20px 0 0px;
    background-color: #FF2400;
    text-align: center;
    border: 1px solid #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin-top: 10px;
}

.footer-mini-menu {
    text-align: right;
    margin-bottom: 10px;
}

.footer-mini-menu-title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #F9F5E1;
}

.footer-mini-menu-list {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.footer-mini-menu-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #F9F5E1;
    text-decoration: none;
}

.footer-mini-menu-item:hover {
    text-decoration: underline;
}

.footer-text-informacoes-third-title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #F9F5E1;
    margin-bottom: 10px;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    color: #F9F5E1;
}

.footer-text-informacoes {
    text-align: left;
    color: #F9F5E1;
}

.footer-main-menu-item1,
.footer-main-menu-item2,
.footer-main-menu-item3 {
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #F9F5E1;
    margin-top: 25px;
}

.footer-text-informacoes-copyrights {
    margin-top: 20px;
    background-color: #1f1410;
    border-top: 1px solid #333333;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-text-informacoes-paragraph {
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f1410;
    color: #464646;
}

.footer-main-menu {
    margin: 0 0 10px 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}

.footer-mini-menu-item1 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #F9F5E1;
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
    margin: 0 410px 0 290px;
}
.footer-mini-menu-item2 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #F9F5E1;
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
    margin: 0 410px 0 290px;
}

.footer-mini-menu-item3 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #F9F5E1;
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
    margin: 0 410px 0 220px;
}


.footer-mini-menu-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 800px 5px 0;
    align-items:end;
    padding: 0 90px 0px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.footer-mini-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 400px 0 400px;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-mini-menu-redes-sociais {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #F9F5E1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-menu-contato-title {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #F9F5E1;
    margin-top: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-menu-contato-item1 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #F9F5E1;
    margin-top: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-menu-contato-item2 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #F9F5E1;
    margin-top: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-mini-menu-redes-sociais-item1 {
    margin: 0 10px;
    align-items: center;
    align-self: center;
    align-content: center;
    
}

.footer-mini-menu-redes-sociais-item2 {
    margin: 0 10px;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-mini-menu-redes-sociais-item3 {
    margin: 0 10px;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-mini-menu-redes-sociais-item4 {
    margin: 0 10px;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-mini-menu-redes-sociais-item5 {
    margin: 0 10px;
    align-items: center;
    align-self: center;
    align-content: center;
}

.footer-mini-menu-redes-sociais-item1 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: #F9F5E1;
}

.footer-mini-menu-redes-sociais-item2 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: #F9F5E1;
}

.footer-mini-menu-redes-sociais-item3 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: #F9F5E1;
}

.footer-mini-menu-redes-sociais-item4 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: #F9F5E1;
}

.footer-mini-menu-redes-sociais-item5 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: #F9F5E1;
}

.footer-mini-menu-redes-sociais-item1 img:hover {
    transform: scale(1.2);
}

.footer-mini-menu-redes-sociais-item2 img:hover {
    transform: scale(1.2);
}

.footer-mini-menu-redes-sociais-item3 img:hover {
    transform: scale(1.2);
}

.footer-mini-menu-redes-sociais-item4 img:hover {
    transform: scale(1.2);
}

.footer-mini-menu-redes-sociais-item5 img:hover {
    transform: scale(1.2);
}
